<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unit4\Setupscripts\Api\PetRepositoryInterface" type="Unit4\Setupscripts\Model\PetRepository" />
    <preference for="Unit4\Setupscripts\Api\Data\PetInterface" type="Unit4\Setupscripts\Model\Pet" />
</config>
